.articlesBanner {
  margin: 1.5rem 0;
  padding: 5px 10px;
  background-image: url('../../assets/pexels-tim-samuel-5835414.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 6px 8px #888888;
  display: flex;
  justify-content: center;
  height: 20rem;
}

.cookingBanner {
  composes: articlesBanner;
  background-image: url('../../assets/pexels-clem-onojeghuo-175753.jpg');
}

.footballBanner {
  composes: articlesBanner;
  background-image: url('../../assets/pexels-tembela-bohle-1884574.jpg');
}

.codingBanner {
  composes: articlesBanner;
  background-image: url('../../assets/pexels-lukas-574071.jpg');
}

.usernameBanner {
  composes: articlesBanner;
  background-image: url('../../assets/pexels-eberhard-grossgasteiger-844297.jpg');
}

.topicsBanner {
  composes: articlesBanner;
  background-image: url('../../assets/pexels-cottonbro-4861363.jpg');
}

.pageTitle {
  color: white;
  font-size: 6rem;
  display: flex;
  align-items: center;
  text-shadow: 4px 4px 4px #000000;
}
