nav {
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  height: 80px;
  display: flex;
  align-content: center;
  padding: 0.5rem 3rem;
  z-index: 1;
}

.navContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.navLink {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 3rem;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  background: -webkit-linear-gradient(180deg, #264653, #2a9d8f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLink:hover {
  color: black;
}

.topicsDropDown {
  display: flex;
  align-items: center;
  /* margin-right: -24px; */
}

.dropDownSelect {
  padding: 0.5rem;
  border-radius: 5px;
  width: 30rem;
  font-size: 1.6rem;
  cursor: pointer;
  border-color: lightgrey;
  /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.navUserSignedOut {
  display: flex;
  align-items: center;
}

.navUserSignedIn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.navUserSignedIn:focus {
  outline: none;
}

.userMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userAvatar {
  height: 4rem;
  width: auto;
  border-radius: 50%;
}

.userWelcome {
  margin: 10px;
}

.dropDownList {
  /* position: absolute; */
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 500;
}

.dropDownItem {
  display: block;
  text-align: center;
  padding: 2.6rem;
  background: none;
  /* border: none; */
  border: 1px solid #e5e5e5;
  width: 100%;
  font-size: 1.6rem;
}

/* .dropDownItem:first-child {
  border-top: none;
} */

.dropDownItem:hover {
  background: #eef0f1;
}
.dropDownItem:focus {
  outline: none;
}

@media screen and (max-width: 800px) {
  .dropDownSelect {
    width: 20rem;
  }
}

@media screen and (max-width: 680px) {
  .topicsDropDown {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .dropDownList {
    display: inline-block;
    position: absolute;
  }

  .dropDownItem {
    padding: 4rem 0;
    font-size: 2.2rem;
    border: none;
    border-top: 1px solid #e5e5e5;
  }

  .dropDownItem:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 450px) {
  .mobileHide {
    display: none;
  }
}
