.userSignedIn {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.adderLabel {
  display: block;
  width: 50vw;
  font-size: 1.6rem;
  font-weight: 500;
}

.adderInput {
  width: stretch;
  padding: 1rem;
  border: 1px solid #b5bdc4;
  border-radius: 4px;
  margin: 0.4rem 0 1rem 0;
}

.adderTextarea {
  min-width: stretch;
  max-width: stretch;
  padding: 1rem;
  border: 1px solid #b5bdc4;
  border-radius: 4px;
}

.userSignedOut {
  display: block;
  text-align: center;
  margin: 3rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

/* for SignIn Component */

.signInInput {
  composes: adderInput;
  width: 30rem;
}

.signInContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.signInContainer p {
  text-align: center;
  margin-top: 3rem;
}

.signInContainer span {
  font-weight: 600;
}
